body {
  font-family: "Oswald", sans-serif;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(221, 0, 249, 1) 0%,
    rgba(0, 35, 255, 1) 100%
  );
  color: #2a2c2b;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #dc3522;
  padding: 5px 20px;
  margin: 5px auto;
  display: block;
  width: 80%;
  border-radius: 5px;
}

a:hover {
  opacity: 0.8;
}

/* classes style */
.container {
  background: #bdc3c7;
  margin: 40px;
  padding: 20px;
  /* height: 80vh; */
  border-radius: 10px;
}

.info {
  /* background-color: ; */
  text-align: center;
}

.Mon-travaile {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.tp {
  margin-right: 10px;
  width: 30%;
  text-align: center;
  padding: 20px;
  background-color: cadetblue;
  border-radius: 5px;
}

.gitlink {
  width: 20%;
}

footer {
  padding: 5px 10px;
  background-color: #333;
  width: auto;
  margin: 10px auto;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  font-size: 1 rem;
}

.time {
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 900px) {
  .Mon-travaile {
    display: block;
  }
  .tp {
    width: auto;
    margin-bottom: 10px;
  }
  .container {
    height: 100%;
  }
  .gitlink {
    width: auto;
  }
  footer {
    display: block;
    text-align: center;
  }
}

@media only screen and (max-width: 375px) {
  * {
    font-size: 0.9rem;
  }
  a {
    margin: 5px 0;
  }
}
