* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Source Code Pro", monospace;
  color: #fff;
  font-size: 1.3rem;
}

p {
  font-size: 0.9rem;
}

body {
  background-color: khaki;
  justify-content: center;
  align-content: center;
}
.container {
  width: 80%;
  margin: auto;
  margin-top: 40px;
}

.general {
  padding: 20px;
  border: darkblue 3px solid;
  margin-bottom: 5px;
}

header {
  background-color: tomato;
  height: 40px;
}

._0 {
  background-color: darkcyan;
}

._1_0 {
  display: flex;
  flex-grow: row;
}

._1_1 {
  width: 50%;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
._1_2 {
  width: 50%;
  display: flex;
  flex-direction: row;
}
._2 {
  width: 50%;
}
._1,
._3,
._4 {
  width: 50%;
  /* margin: 10px; */
  margin-right: 10px;
}
._4 {
  margin-right: 0;
  background-color: cadetblue;
}
._3 {
  background-color: cyan;
}
._2 {
  background-color: darkgray;
}
._1 {
  background-color: darkgreen;
}
._2_0 {
  display: flex;
  flex-direction: row;
}
._5,
._6 {
  width: 50%;
}

._5 {
  background-color: darkorange;
  margin-right: 10px;
}
._6 {
  background-color: darkslategray;
}
footer {
  background-color: dimgray;
}

@media only screen and (max-width: 890px) {
  ._1_0 {
    display: block;
  }
  ._1_1 {
    width: 100%;
  }
  ._2 {
    margin-right: 0;
  }
  ._1_2 {
    width: 100%;
  }

  ._2_0 {
    display: block;
  }
  ._5 {
    width: auto;
    margin-right: 0;
  }
  ._6 {
    width: auto;
  }
}

@media only screen and (max-width: 500px) {
  .general {
    font-size: 1rem;
  }
  p {
    font-size: 0.8rem;
  }
  ._1_1,
  ._1_2 {
    display: block;
  }

  ._1,
  ._2,
  ._3,
  ._4 {
    width: auto;
    margin-right: 0;
  }
}
